{{yield}}
{{#paper-card class="contact-container"}}
  {{#paper-card-content}}
  <div class="content">
    <div class="avatar-container shadow-small">
      <img src="{{recipient.profile.image_192}}" class="shadow-med" alt="not found">
  {{#paper-card-content}}
  <div class="content">
    <div class="info-container shadow-med">
      <h2 class="capitalize info-text">{{recipient.name}}</h2>
    </div>
  </div>
  {{/paper-card-content}}
    </div>
  </div>
  {{/paper-card-content}}
{{/paper-card}}