<div class="nav-bar-theme {{if fadeIn 'fade-in'}}">{{#paper-toolbar class="med-animation"}}
  <h3 class="title-text">Messaging</h3>{{/paper-toolbar}}
</div>
<h1 class="title-text">{{message}}</h1>

{{yield}}
