@import 'ember-paper';

// vars

$primary-bg:                  #6FBFFE;
$primary-highlight:           #1892DB;
$primary-accent:              #E0E4CC;
$primary-alert:               #FF3D00;
$secondary-bg:                #926559;
$secondary-highlight:         #D3B5AD;

$primary-accent-trans:        rgba(224, 228, 204, 0.6);

$shadow-fill-med:             rgba(0, 0, 0, 0.5);

$icon-large:                  20em;
$icon-med:                    10em;
$icon-small:                  5em;
$icon-xsmall:                 2em;

$font-size-large:             5em;
$font-size-med:               3em;
$font-size-small:             2em;

$pad-med:                     20px;

// globals
.pad-top {
  padding-top: $pad-med;
}
.nudge-left {
  margin-left: -30px
}
.nudge-up {
  margin-up: 30px;
}
.visibility-full {
  opacity: 1;
}
h2.capitalize {
  text-transform: capitalize;
}

.shadow-med {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.shadow-small {
  box-shadow: 0 2px 4px rgba(0,0,0,0.16), 0 2px 4px rgba(0,0,0,0.23);
}
// ***********

// components
.progress-bar {
  margin: 0 auto;
  width: 0;
}
.progress-bar-half {
  width: 50%;
  position: absolute;
}
.speech-bubble-cont {
  position: absolute;
}
.rec-active {
  .material-icons { 
    color: $primary-alert !important;
  }
}
.main-container {
  position: absolute;
  background-color: $primary-bg;
  height: 100%;
  width: 100%;
  .md-content {
    background-color: $primary-bg;
  }
}
.fill-primary {
  background-color: $primary-bg;
}
.font-primary {
  .material-icons { 
    color: $primary-highlight;
    font-size: $icon-large;
  }
}
.font-secondary {
  .material-icons { 
    color: $primary-highlight;
    font-size: $icon-small;
  }
}
.title-text {
  color: $primary-accent;
  text-align: center;
}
.title-text+h1 {
  font-size: $font-size-med;
}
.nav-bar-theme {
  .ember-view {
    opacity: 0;
    background-color: $primary-bg;
  }
}
.contact-container {
  .content {
    width: 100%;
    height: 100%;
    margin: 0 auto;

    .avatar-container {
      width: 110%;
      border-radius: 50px 0 0 50px;
      background-color: $secondary-highlight;
    }

    img {
      width: 60%;
      border-radius: 100%;
      border: 10px solid $primary-accent;
    }

    .info-container {
      width: 70%;
      margin-top: -40px;
      margin-right: 10%;
      float: right;
      background-color: $shadow-fill-med;
      border: 1px solid $primary-accent-trans;
      border-radius: 10px;

      .info-text {
        color: $primary-accent;
        font-size: $font-size-small;
        text-align: right;
        padding-right: $pad-med;
      }
    }
  }
}
// tranistion and animation classes 
.apply-small {
  .font-primary {
    .material-icons {
      font-size: $icon-small;
    }
  }
}
.font-color {
  .font-primary {
    .material-icons {
      color: $primary-alert;
    }
  }
}
.fade-in {
  .ember-view {
    opacity: 1;
    background-color: $primary-highlight;
  }
}
.fade-out {
  opacity: 0;
}

.fast-animation {
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
}
.med-animation {
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  -ms-transition: all 0.6s ease;
}
.slow-animation {
  -webkit-transition: all 2s ease;
  -moz-transition: all 2s ease;
  -o-transition: all 2s ease;
  -ms-transition: all 2s ease;
}