{{outlet}}
Contacts template
{{model}}
<ul>
{{#each model as |contact|}}
  <li>name: {{contact.id}}</li>
{{/each}}
</ul>

{{#paper-button raised=true action="raisedButton"}}Button with action{{/paper-button}}